{
    "presets": [
        "react",
        "stage-0",
        "env"
    ],
    "plugins": [
        "transform-runtime",
        "transform-class-properties",
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}
